# Use postgres/example user/password credentials
version: "3.1"

services:
    db:
        image: postgres
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - ${POSTGRES_PORT}:5432

    db-test:
        image: postgres
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_TEST_DB}
        ports:
            - ${POSTGRES_TEST_PORT}:5432

    adminer:
        image: adminer
        restart: always
        ports:
            - ${ADMINER_PORT}:8080
